manual_confirmation_with_addons.json
{
    "name": "Manual Confirmation (Premium - Literal Keys)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-confirm",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "id": "webhook-trigger",
            "name": "Receive Frontend Trigger"
        },
        {
            "parameters": {
                "jsCode": "// CONFIG - Literal Secret\nvar EXPECTED_SECRET = 'mulligan-secure-8821';\nvar input = items[0].json;\n\n// 1. DATA EXTRACTION\nvar data = input.bookingId ? input : (input.body || {});\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch(e) {}\n}\n\n// 2. VALIDATION\nif (!data.bookingId) {\n  throw new Error('CRITICAL: Missing bookingId');\n}\n\nreturn {\n  json: { ...data, valid: (data.secret === EXPECTED_SECRET) }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "validate-prep",
            "name": "Validate & Prep"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://twvysbtjimrqcgulaich.supabase.co/rest/v1/bookings?id=eq.{{ $json.bookingId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3dnlzYnRqaW1ycWNndWxhaWNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNTcyOTEsImV4cCI6MjA3ODkzMzI5MX0.BP2L6C13Uey5d3L6SlDUz73_e2UhmJ_N-Snvo9m1K94"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3dnlzYnRqaW1ycWNndWxhaWNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNTcyOTEsImV4cCI6MjA3ODkzMzI5MX0.BP2L6C13Uey5d3L6SlDUz73_e2UhmJ_N-Snvo9m1K94"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"status\": \"confirmed\",\n  \"payment_status\": \"{{ $json.paymentStatus }}\",\n  \"yoco_payment_id\": \"{{ $json.yocoId }}\",\n  \"confirmed_at\": \"{{ new Date().toISOString() }}\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                300
            ],
            "id": "supabase-update",
            "name": "Update Booking"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyD8roavPep-IdZJ-rCOGSXmrP1D-XGNDuM",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an intelligent booking assistant for The Mulligan Golf Lounge. \\nAnalyze the following booking and generate a 1-sentence friendly, personalized welcome message for the customer email.\\n\\nBooking Details:\\nGuest: {{ $('Validate & Prep').item.json.guest_name }}\\nDuration: {{ $('Validate & Prep').item.json.duration_hours }}h\\nBay: {{ $('Validate & Prep').item.json.bay_name }}\\nPayment: {{ $('Validate & Prep').item.json.payment_summary }}\\n\\nRules:\\n- If it's a 1h 'Short Session', emphasize it's a quick and fun visit.\\n- If they paid in full, thank them for the upfront payment.\\n- Be premium and enthusiastic.\"\n        }\n      ]\n    }\n  ]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                300
            ],
            "id": "gemini-msg",
            "name": "Gemini: Personalized Message"
        },
        {
            "parameters": {
                "jsCode": "var booking = $('Validate & Prep').item.json;\nvar gemini = $('Gemini: Personalized Message').item.json;\nvar message = (gemini.candidates && gemini.candidates[0].content.parts[0].text) || \"Your booking is confirmed!\";\n\n// Premium Layout with Mulligan Branding\nvar html = `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #1f2937; max-width: 520px; margin: 0 auto; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e7eb;\">\n    <div style=\"background: linear-gradient(135deg, #166534 0%, #22c55e 100%); padding: 25px; text-align: center;\">\n        <h1 style=\"color: white; margin: 0; font-size: 24px;\">\u26f3 Booking Confirmed!</h1>\n        <p style=\"color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 15px;\">The Simulator Never Judges!</p>\n    </div>\n    <div style=\"padding: 25px;\">\n        <p style=\"font-size: 16px; margin: 0 0 15px;\">Hi <strong>${booking.guest_name}</strong>,</p>\n        <p style=\"color: #6b7280; line-height: 1.6; margin: 0 0 20px;\">${message}</p>\n        \n        <div style=\"background: #f0fdf4; border-left: 4px solid #22c55e; padding: 18px; border-radius: 8px; margin: 0 0 20px;\">\n            <p style=\"margin: 0 0 4px; font-size: 14px; color: #166534; font-weight: 600;\">YOUR SLOT</p>\n            <p style=\"margin: 0 0 8px; font-size: 20px; font-weight: bold; color: #166534;\">\ud83d\udcc5 ${booking.booking_date} | \ud83d\udd50 ${booking.start_time}</p>\n            <p style=\"margin: 0; font-size: 16px; color: #6b7280;\">\ud83d\udccd ${booking.bay_name}</p>\n        </div>\n\n        <div style=\"background: #fffbeb; border: 1px solid #fcd34d; border-radius: 10px; padding: 18px; margin: 0 0 20px;\">\n            <p style=\"margin: 0 0 12px; font-weight: bold; color: #b45309; font-size: 14px;\">\ud83d\udccb PLAYER BASICS</p>\n            <ul style=\"margin: 0; padding-left: 18px; color: #6b7280; line-height: 1.6; font-size: 13px;\">\n                <li><strong>8:00 PM Sharp</strong>: Venue closes strictly at 8 PM</li>\n                <li><strong>Golf Glove</strong>: Compulsory for all players</li>\n                <li><strong>Shoes</strong>: Flat-soled only (no cleats)</li>\n                <li><strong>Arrival</strong>: 15 mins early is recommended</li>\n            </ul>\n        </div>\n\n        <p style=\"text-align: center; color: #9ca3af; font-size: 12px; margin-top: 30px;\">38A Chopin St, Vanderbijlpark</p>\n    </div>\n</div>`;\n\nreturn { json: { from: \"The Mulligan <bookings@themulligan.org>\", to: [booking.guest_email], subject: \"Booking Confirmed: \" + booking.booking_date, html: html } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                300
            ],
            "id": "prepare-customer-email",
            "name": "Prepare Customer Email"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer re_bCTdp5JH_KGLzSyFzoiXJjjdihVkBLSd2"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1400,
                300
            ],
            "id": "send-customer-email",
            "name": "Send Customer Email"
        },
        {
            "parameters": {
                "jsCode": "var booking = $('Validate & Prep').item.json;\n\n// Intelligent Add-on Detection\nvar addonList = [];\nif (booking.addon_coaching) addonList.push('<li style=\"color: #059669; font-weight: bold;\">\ud83c\udfcc\ufe0f PRO COACHING BOOKED</li>');\nif (booking.addon_club_rental) addonList.push('<li style=\"color: #059669; font-weight: bold;\">\ud83c\udfcc\ufe0f CLUB RENTAL BOOKED</li>');\nvar addonsHtml = addonList.length > 0 ? `<ul style=\"margin: 10px 0; padding-left: 20px;\">${addonList.join('')}</ul>` : '<p style=\"color: #9ca3af; font-style: italic;\">No add-ons selected</p>';\n\n// Premium Alert Template\nvar html = `\n<div style=\"font-family: sans-serif; max-width: 500px; margin: 0 auto; border: 2px solid #dc2626; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background: #dc2626; color: white; padding: 15px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 20px;\">\u26a0\ufe0f NEW BOOKING ALERT</h2>\n    </div>\n    <div style=\"padding: 20px; background: #fff;\">\n        <div style=\"margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #f3f4f6;\">\n            <p style=\"margin: 0 0 5px; color: #6b7280; font-size: 12px; font-weight: bold; text-transform: uppercase;\">Guest Details</p>\n            <p style=\"margin: 0; font-size: 18px; font-weight: bold; color: #111827;\">${booking.guest_name}</p>\n            <p style=\"margin: 5px 0 0; color: #4b5563;\">${booking.guest_phone || 'No phone'}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #f3f4f6;\">\n            <p style=\"margin: 0 0 5px; color: #6b7280; font-size: 12px; font-weight: bold; text-transform: uppercase;\">Slot & Bay</p>\n            <p style=\"margin: 0; font-size: 16px; color: #111827;\">\ud83d\udcc5 <strong>${booking.booking_date}</strong> | \ud83d\udd50 <strong>${booking.start_time}</strong></p>\n            <p style=\"margin: 5px 0 0; color: #111827;\">\ud83d\udccd ${booking.bay_name}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px; background: #fef2f2; padding: 15px; border-radius: 8px; border: 1px solid #fee2e2;\">\n            <p style=\"margin: 0 0 8px; color: #991b1b; font-size: 12px; font-weight: bold; text-transform: uppercase;\">\ud83d\udce6 ADD-ONS & SERVICES</p>\n            ${addonsHtml}\n        </div>\n\n        <div style=\"background: #f9fafb; padding: 15px; border-radius: 8px;\">\n            <table style=\"width: 100%; border-collapse: collapse;\">\n                <tr><td style=\"color: #6b7280; padding: 4px 0;\">Total Price</td><td style=\"text-align: right; font-weight: bold;\">R${booking.total_price}</td></tr>\n                <tr><td style=\"color: #6b7280; padding: 4px 0;\">Amt Paid</td><td style=\"text-align: right; color: #059669; font-weight: bold;\">R${booking.amount_paid}</td></tr>\n                <tr style=\"border-top: 1px solid #e5e7eb;\"><td style=\"padding: 8px 0; font-weight: bold;\">Balance Due</td><td style=\"text-align: right; padding: 8px 0; font-weight: bold; color: #dc2626; font-size: 18px;\">R${booking.amount_due}</td></tr>\n            </table>\n            <p style=\"margin: 10px 0 0; font-size: 12px; color: #6b7280; text-align: center;\">Status: ${booking.paymentStatus.toUpperCase()}</p>\n        </div>\n    </div>\n</div>`;\n\nreturn { json: { from: \"Mulligan Notifications <alerts@themulligan.org>\", to: [\"themulligan.store@gmail.com\"], subject: \"\ud83d\udcc5 NEW: \" + booking.guest_name + \" (\" + booking.bay_name + \")\", html: html } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                300
            ],
            "id": "prepare-store-email",
            "name": "Prepare Store Email"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer re_bCTdp5JH_KGLzSyFzoiXJjjdihVkBLSd2"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1800,
                300
            ],
            "id": "notify-store",
            "name": "Notify Store"
        }
    ],
    "connections": {
        "Receive Frontend Trigger": {
            "main": [
                [
                    {
                        "node": "Validate & Prep",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Prep": {
            "main": [
                [
                    {
                        "node": "Update Booking",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Booking": {
            "main": [
                [
                    {
                        "node": "Gemini: Personalized Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Personalized Message": {
            "main": [
                [
                    {
                        "node": "Prepare Customer Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Customer Email": {
            "main": [
                [
                    {
                        "node": "Send Customer Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Customer Email": {
            "main": [
                [
                    {
                        "node": "Prepare Store Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Store Email": {
            "main": [
                [
                    {
                        "node": "Notify Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}