manual_confirmation_with_addons.json
{
    "name": "Manual Confirmation (Premium - Literal Keys)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "manual-confirm",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                400,
                300
            ],
            "id": "webhook-trigger",
            "name": "Receive Frontend Trigger"
        },
        {
            "parameters": {
                "jsCode": "// This node validates the incoming webhook trigger and extracts the bookingId.\n\nconst input = items[0].json;\nconst data = input.body || input;\n\nconst ADMIN_SECRET = $env[\"N8N_ADMIN_SECRET\"];\nconst RECONCILE_SECRET = $env[\"N8N_RECONCILE_SECRET\"];\n\nif (!ADMIN_SECRET || !RECONCILE_SECRET) {\n  throw new Error('n8n environment variables N8N_ADMIN_SECRET or N8N_RECONCILE_SECRET are not set.');\n}\n\nconst bookingId = data.bookingId;\nconst receivedSecret = data.secret;\n\nif (!bookingId) {\n  throw new Error('CRITICAL: Webhook payload is missing bookingId.');\n}\n\nconst isValid = (receivedSecret === ADMIN_SECRET || receivedSecret === RECONCILE_SECRET);\n\nif (!isValid) {\n  // For security, we don't throw an error, just stop the workflow.\n  // Set an 'invalid' flag to be checked by an IF node.\n  return { json: { valid: false } };\n}\n\n// Pass the validated bookingId to the next step.\nreturn { json: { valid: true, bookingId: bookingId } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "validate-and-extract",
            "name": "Validate & Extract"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://twvysbtjimrqcgulaich.supabase.co/rest/v1/bookings?id=eq.{{ $('Validate & Extract').item.json.bookingId }}&select=*",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": false,
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                300
            ],
            "id": "fetch-booking",
            "name": "Fetch Booking from Supabase"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $('Validate & Extract').item.json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                800,
                300
            ],
            "id": "if-valid",
            "name": "If Valid Secret"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyD8roavPep-IdZJ-rCOGSXmrP1D-XGNDuM",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an intelligent booking assistant for The Mulligan Golf Lounge. \\nAnalyze the following booking and generate a 1-sentence friendly, personalized welcome message for the customer email.\\n\\nBooking Details:\\nGuest: {{ $('Fetch Booking from Supabase').item.json[0].guest_name }}\\nDuration: {{ $('Fetch Booking from Supabase').item.json[0].duration_hours }}h\\nBay: Simulator {{ $('Fetch Booking from Supabase').item.json[0].simulator_id }}\\nPayment Status: {{ $('Fetch Booking from Supabase').item.json[0].payment_status }}\\n\\nRules:\\n- If it's a 1h 'Short Session', emphasize it's a quick and fun visit.\\n- If they paid in full, thank them for the upfront payment.\\n- Be premium and enthusiastic.\"\n        }\n      ]\n    }\n  ]\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1200,
                300
            ],
            "id": "gemini-msg",
            "name": "Gemini: Personalized Message"
        },
        {
            "parameters": {
                "jsCode": "var booking = $('Fetch Booking from Supabase').item.json[0];\nvar gemini = $('Gemini: Personalized Message').item.json;\nvar message = (gemini.candidates && gemini.candidates[0].content.parts[0].text) || \"Your booking is confirmed!\";\n\n// Premium Layout with Mulligan Branding\nvar html = `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #1f2937; max-width: 520px; margin: 0 auto; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e7eb;\">\n    <div style=\"background: linear-gradient(135deg, #166534 0%, #22c55e 100%); padding: 25px; text-align: center;\">\n        <h1 style=\"color: white; margin: 0; font-size: 24px;\">\u26f3 Booking Confirmed!</h1>\n        <p style=\"color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 15px;\">The Simulator Never Judges!</p>\n    </div>\n    <div style=\"padding: 25px;\">\n        <p style=\"font-size: 16px; margin: 0 0 15px;\">Hi <strong>${booking.guest_name}</strong>,</p>\n        <p style=\"color: #6b7280; line-height: 1.6; margin: 0 0 20px;\">${message}</p>\n        \n        <div style=\"background: #f0fdf4; border-left: 4px solid #22c55e; padding: 18px; border-radius: 8px; margin: 0 0 20px;\">\n            <p style=\"margin: 0 0 4px; font-size: 14px; color: #166534; font-weight: 600;\">YOUR SLOT</p>\n            <p style=\"margin: 0 0 8px; font-size: 20px; font-weight: bold; color: #166534;\">\ud83d\udcc5 ${booking.booking_date} | \ud83d\udd50 ${booking.start_time}</p>\n            <p style=\"margin: 0; font-size: 16px; color: #6b7280;\">\ud83d\udccd Simulator ${booking.simulator_id}</p>\n        </div>\n\n        <div style=\"background: #fffbeb; border: 1px solid #fcd34d; border-radius: 10px; padding: 18px; margin: 0 0 20px;\">\n            <p style=\"margin: 0 0 12px; font-weight: bold; color: #b45309; font-size: 14px;\">\ud83d\udccb PLAYER BASICS</p>\n            <ul style=\"margin: 0; padding-left: 18px; color: #6b7280; line-height: 1.6; font-size: 13px;\">\n                <li><strong>8:00 PM Sharp</strong>: Venue closes strictly at 8 PM</li>\n                <li><strong>Golf Glove</strong>: Compulsory for all players</li>\n                <li><strong>Shoes</strong>: Flat-soled only (no cleats)</li>\n                <li><strong>Arrival</strong>: 15 mins early is recommended</li>\n            </ul>\n        </div>\n\n        <p style=\"text-align: center; color: #9ca3af; font-size: 12px; margin-top: 30px;\">38A Chopin St, Vanderbijlpark</p>\n    </div>\n</div>`;\n\nreturn { json: { from: \"The Mulligan <bookings@themulligan.org>\", to: [booking.guest_email], subject: \"Booking Confirmed: \" + booking.booking_date, html: html } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                300
            ],
            "id": "prepare-customer-email",
            "name": "Prepare Customer Email"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env[\"RESEND_API_KEY\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1600,
                300
            ],
            "id": "send-customer-email",
            "name": "Send Customer Email"
        },
        {
            "parameters": {
                "jsCode": "var booking = $('Fetch Booking from Supabase').item.json[0];\n\n// Intelligent Add-on Detection\nvar addonList = [];\nif (booking.addon_coaching) addonList.push('<li style=\"color: #059669; font-weight: bold;\">\ud83c\udfcc\ufe0f PRO COACHING BOOKED</li>');\nif (booking.addon_club_rental) addonList.push('<li style=\"color: #059669; font-weight: bold;\">\ud83c\udfcc\ufe0f CLUB RENTAL BOOKED</li>');\nvar addonsHtml = addonList.length > 0 ? `<ul style=\"margin: 10px 0; padding-left: 20px;\">${addonList.join('')}</ul>` : '<p style=\"color: #9ca3af; font-style: italic;\">No add-ons selected</p>';\n\n// Premium Alert Template\nvar html = `\n<div style=\"font-family: sans-serif; max-width: 500px; margin: 0 auto; border: 2px solid #dc2626; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background: #dc2626; color: white; padding: 15px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 20px;\">\u26a0\ufe0f NEW BOOKING ALERT</h2>\n    </div>\n    <div style=\"padding: 20px; background: #fff;\">\n        <div style=\"margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #f3f4f6;\">\n            <p style=\"margin: 0 0 5px; color: #6b7280; font-size: 12px; font-weight: bold; text-transform: uppercase;\">Guest Details</p>\n            <p style=\"margin: 0; font-size: 18px; font-weight: bold; color: #111827;\">${booking.guest_name}</p>\n            <p style=\"margin: 5px 0 0; color: #4b5563;\">${booking.guest_phone || 'No phone'}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #f3f4f6;\">\n            <p style=\"margin: 0 0 5px; color: #6b7280; font-size: 12px; font-weight: bold; text-transform: uppercase;\">Slot & Bay</p>\n            <p style=\"margin: 0; font-size: 16px; color: #111827;\">\ud83d\udcc5 <strong>${booking.booking_date}</strong> | \ud83d\udd50 <strong>${booking.start_time}</strong></p>\n            <p style=\"margin: 5px 0 0; color: #111827;\">\ud83d\udccd Simulator ${booking.simulator_id}</p>\n        </div>\n\n        <div style=\"margin-bottom: 20px; background: #fef2f2; padding: 15px; border-radius: 8px; border: 1px solid #fee2e2;\">\n            <p style=\"margin: 0 0 8px; color: #991b1b; font-size: 12px; font-weight: bold; text-transform: uppercase;\">\ud83d\udce6 ADD-ONS & SERVICES</p>\n            ${addonsHtml}\n        </div>\n\n        <div style=\"background: #f9fafb; padding: 15px; border-radius: 8px;\">\n            <table style=\"width: 100%; border-collapse: collapse;\">\n                <tr><td style=\"color: #6b7280; padding: 4px 0;\">Total Price</td><td style=\"text-align: right; font-weight: bold;\">R${booking.total_price}</td></tr>\n                <tr><td style=\"color: #6b7280; padding: 4px 0;\">Amt Paid</td><td style=\"text-align: right; color: #059669; font-weight: bold;\">R${booking.amount_paid}</td></tr>\n                <tr style=\"border-top: 1px solid #e5e7eb;\"><td style=\"padding: 8px 0; font-weight: bold;\">Balance Due</td><td style=\"text-align: right; padding: 8px 0; font-weight: bold; color: #dc2626; font-size: 18px;\">R${booking.amount_due}</td></tr>\n            </table>\n            <p style=\"margin: 10px 0 0; font-size: 12px; color: #6b7280; text-align: center;\">Status: ${booking.payment_status.toUpperCase()}</p>\n        </div>\n    </div>\n</div>`;\n\nreturn { json: { from: \"Mulligan Notifications <alerts@themulligan.org>\", to: [\"themulligan.store@gmail.com\"], subject: \"\ud83d\udcc5 NEW: \" + booking.guest_name + \" (Sim \" + booking.simulator_id + \")\", html: html } };"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1800,
                300
            ],
            "id": "prepare-store-email",
            "name": "Prepare Store Email"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env[\"RESEND_API_KEY\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2000,
                300
            ],
            "id": "notify-store",
            "name": "Notify Store"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://twvysbtjimrqcgulaich.supabase.co/rest/v1/bookings?id=eq.{{ $('Validate & Extract').item.json.bookingId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "={{ 'Bearer ' + $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"email_sent\": true,\n  \"email_sent_at\": \"{{ new Date().toISOString() }}\",\n  \"n8n_status\": \"completed\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2200,
                300
            ],
            "id": "mark-complete",
            "name": "Mark as Complete"
        }
    ],
    "connections": {
        "Receive Frontend Trigger": {
            "main": [
                [
                    {
                        "node": "Validate & Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Extract": {
            "main": [
                [
                    {
                        "node": "If Valid Secret",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Valid Secret": {
            "main": [
                [
                    {
                        "node": "Fetch Booking from Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Booking from Supabase": {
            "main": [
                [
                    {
                        "node": "Gemini: Personalized Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Personalized Message": {
            "main": [
                [
                    {
                        "node": "Prepare Customer Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Customer Email": {
            "main": [
                [
                    {
                        "node": "Send Customer Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Customer Email": {
            "main": [
                [
                    {
                        "node": "Prepare Store Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Store Email": {
            "main": [
                [
                    {
                        "node": "Notify Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify Store": {
            "main": [
                [
                    {
                        "node": "Mark as Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}