scripts/n8n_database_driven_workflow.json
{
    "name": "Database-Driven Booking Confirmed",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "booking-confirmed",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "booking-confirmed"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "bookings",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.body.booking_id }}"
                        }
                    ]
                }
            },
            "id": "2",
            "name": "Get Booking from Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.email_sent }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "3",
            "name": "If email_sent = false",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"The Mulligan <reservations@themulligan.co.za>\",\n  \"to\": [\"themulligan.store@gmail.com\"],\n  \"subject\": \"BOOKING ALERT: {{ $node['Get Booking from Supabase'].json.guest_name }}\",\n  \"html\": \"<div style=\\\"font-family:'Helvetica Neue',Arial,sans-serif;max-width:600px;margin:0 auto;color:#1f2937;line-height:1.5;\\\"><div style=\\\"background-color:#1a472a;padding:30px;text-align:center;border-radius:12px 12px 0 0;\\\"><h1 style=\\\"color:#ffffff;margin:0;font-size:24px;letter-spacing:1px;\\\">BOOKING ALERT</h1><p style=\\\"color:#a3d9a5;margin:5px 0 0 0;font-size:12px;text-transform:uppercase;\\\">Store Operations Notification</p></div><div style=\\\"padding:30px;border:1px solid #e5e7eb;border-top:none;border-radius:0 0 12px 12px;background-color:#ffffff;\\\"><div style=\\\"margin-bottom:25px;\\\"><h2 style=\\\"font-size:14px;color:#6b7280;text-transform:uppercase;letter-spacing:1px;margin-bottom:15px;border-bottom:1px solid #f3f4f6;padding-bottom:5px;\\\">👤 Guest Details</h2><table style=\\\"width:100%;border-collapse:collapse;\\\"><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Name</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.guest_name }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Phone</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.guest_phone }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Email</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.guest_email }}</td></tr></table></div><div style=\\\"background-color:#f9fafb;border-radius:8px;padding:20px;margin-bottom:25px;\\\"><h2 style=\\\"font-size:14px;color:#6b7280;text-transform:uppercase;letter-spacing:1px;margin-bottom:15px;border-bottom:1px solid #e5e7eb;padding-bottom:5px;\\\">🕒 Session Info</h2><table style=\\\"width:100%;border-collapse:collapse;\\\"><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Date</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.booking_date }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Time</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.start_time }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Duration</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.duration_hours }} Hours</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Bay</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#1a472a;\\\">Bay {{ $node['Get Booking from Supabase'].json.simulator_id }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Players</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">{{ $node['Get Booking from Supabase'].json.player_count }} Players</td></tr><tr><td colspan=\\\"2\\\" style=\\\"padding-top:10px;\\\"><div style=\\\"font-size:12px;color:#9ca3af;text-transform:uppercase;margin-bottom:5px;\\\">Add-ons</div><table style=\\\"width:100%;border-collapse:collapse;\\\">{{ $node['Get Booking from Supabase'].json.addon_coaching ? '<tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Coaching</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#059669;\\\">✓ Booked</td></tr>' : '' }}{{ $node['Get Booking from Supabase'].json.addon_club_rental ? '<tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Club Rental</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#059669;\\\">✓ Booked</td></tr>' : '' }}</table></td></tr></table></div><div style=\\\"border:2px solid #e5e7eb;border-radius:8px;padding:20px;\\\"><h2 style=\\\"font-size:14px;color:#6b7280;text-transform:uppercase;letter-spacing:1px;margin-bottom:15px;\\\">💰 Financial Summary</h2><table style=\\\"width:100%;border-collapse:collapse;\\\"><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Total Amount</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#111827;\\\">R{{ $node['Get Booking from Supabase'].json.total_price }}</td></tr><tr><td style=\\\"padding:8px 0;color:#6b7280;\\\">Paid Online</td><td style=\\\"padding:8px 0;text-align:right;font-weight:700;color:#15803d;\\\">R{{ $node['Get Booking from Supabase'].json.amount_paid }}</td></tr><tr style=\\\"font-size:18px;\\\"><td style=\\\"padding:15px 0 0 0;border-top:2px solid #e5e7eb;font-weight:800;color:#111827;\\\">BALANCE DUE</td><td style=\\\"padding:15px 0 0 0;border-top:2px solid #e5e7eb;text-align:right;font-weight:800;color:#b45309;\\\">R{{ $node['Get Booking from Supabase'].json.total_price - $node['Get Booking from Supabase'].json.amount_paid }}</td></tr></table></div><div style=\\\"margin-top:30px;text-align:center;\\\"><a href=\\\"https://themulligan.org/admin\\\" style=\\\"display:inline-block;background-color:#1a472a;color:#ffffff;padding:15px 30px;border-radius:8px;text-decoration:none;font-weight:700;font-size:14px;box-shadow:0 4px 6px rgba(0,0,0,0.1);\\\">OPEN ADMIN DASHBOARD</a></div><p style=\\\"margin-top:25px;font-size:12px;color:#9ca3af;text-align:center;\\\">This is an automated operational notification.<br>The Mulligan Golf Lounge</p></div></div>\"\n}"
            },
            "id": "10",
            "name": "Send Alert to Store (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                700,
                50
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"The Mulligan <reservations@themulligan.co.za>\",\n  \"to\": [\"{{ $node['Get Booking from Supabase'].json.guest_email }}\"],\n  \"subject\": \"Booking Confirmed - The Mulligan\",\n  \"html\": \"<div style=\\\"font-family:sans-serif;max-width:600px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;box-shadow:0 10px 25px rgba(0,0,0,0.05);\\\"><div style=\\\"background-color:#1a472a;background-image:linear-gradient(135deg,#1a472a 0%,#0d2a19 100%);padding:60px 40px;text-align:center;\\\"><div style=\\\"display:inline-block;background:rgba(255,255,255,0.1);border:1px solid rgba(255,255,255,0.2);color:#fff;padding:6px 16px;border-radius:100px;font-size:12px;font-weight:600;margin-bottom:20px;\\\">SESSION CONFIRMED</div><p style=\\\"color:#fff;font-size:24px;font-weight:800;letter-spacing:-0.5px;margin:0 0 8px;\\\">The Mulligan</p><p style=\\\"color:#fbbf24;font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:2px;margin:0 0 30px;opacity:0.9;\\\">The Simulator Never Judges</p><h1 style=\\\"color:#fff;font-size:32px;font-weight:700;margin:0;line-height:1.2;\\\">You're Teeing Off!</h1><p style=\\\"color:#a3d9a5;font-size:16px;margin:12px 0 0;opacity:0.8;\\\">See you on the green, {{ $node['Get Booking from Supabase'].json.guest_name }}.</p></div><div style=\\\"padding:40px;\\\"><p style=\\\"font-size:18px;color:#111827;font-weight:600;margin:0 0 16px;\\\">Exciting news, {{ $node['Get Booking from Supabase'].json.guest_name }}!</p><p style=\\\"font-size:15px;color:#4b5563;line-height:1.6;margin:0 0 32px;\\\">Your booking at The Mulligan is confirmed. We've reserved Bay {{ $node['Get Booking from Supabase'].json.simulator_id }} exclusively for your group. Fasten your spikes and get ready for a world-class indoor golf experience.</p><div style=\\\"background-color:#f9fafb;border:1px solid #f3f4f6;border-radius:12px;padding:24px;margin-bottom:32px;\\\"><span style=\\\"font-size:12px;font-weight:700;color:#9ca3af;text-transform:uppercase;letter-spacing:1px;margin-bottom:20px;display:block;\\\">Booking Specifications</span><table style=\\\"width:100%;border-collapse:collapse;\\\"><tr><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#6b7280;text-align:left;\\\">Date</td><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600;text-align:right;\\\">{{ $node['Get Booking from Supabase'].json.booking_date }}</td></tr><tr><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#6b7280;text-align:left;\\\">Start Time</td><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600;text-align:right;\\\">{{ $node['Get Booking from Supabase'].json.start_time }}</td></tr><tr><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#6b7280;text-align:left;\\\">Duration</td><td style=\\\"padding:12px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600;text-align:right;\\\">{{ $node['Get Booking from Supabase'].json.duration_hours }} Hours</td></tr><tr><td style=\\\"padding:12px 0;font-size:14px;color:#6b7280;text-align:left;\\\">Players</td><td style=\\\"padding:12px 0;font-size:14px;color:#111827;font-weight:600;text-align:right;\\\">{{ $node['Get Booking from Supabase'].json.player_count }} Players</td></tr></table></div><div style=\\\"background-color:#ecfdf5;border:1px solid #d1fae5;border-radius:12px;padding:24px;margin-bottom:32px;text-align:center;\\\"><span style=\\\"font-size:13px;color:#065f46;opacity:0.7;margin-bottom:12px;display:block;font-weight:500;\\\">SECURED VIA DEPOSIT</span><p style=\\\"font-size:28px;font-weight:700;color:#065f46;margin:0;\\\">R{{ $node['Get Booking from Supabase'].json.amount_paid }} Paid</p><div style=\\\"margin-top:16px;padding-top:16px;border-top:1px solid rgba(6,95,70,0.1);display:flex;justify-content:center;align-items:center;gap:8px;\\\"><span style=\\\"font-size:14px;color:#065f46;font-weight:500;\\\">Balance Due at Venue:</span><span style=\\\"font-size:18px;font-weight:700;color:#92400e;\\\">R{{ $node['Get Booking from Supabase'].json.total_price - $node['Get Booking from Supabase'].json.amount_paid }}</span></div></div><div style=\\\"margin-bottom:32px;\\\"><h3 style=\\\"font-size:16px;font-weight:700;color:#1a472a;margin:0 0 16px;\\\">Session Prep</h3><div style=\\\"margin-bottom:12px;font-size:14px;color:#4b5563;line-height:1.5;\\\"><span style=\\\"color:#059669;font-weight:bold;margin-right:10px;\\\">✓</span><strong>Arrive 10 mins early</strong> — Grab a coffee and settle in before tee-off.</div><div style=\\\"margin-bottom:12px;font-size:14px;color:#4b5563;line-height:1.5;\\\"><span style=\\\"color:#059669;font-weight:bold;margin-right:10px;\\\">✓</span><strong>The Gear</strong> — Club rentals are available, or bring your own free of charge.</div><div style=\\\"margin-bottom:12px;font-size:14px;color:#4b5563;line-height:1.5;\\\"><span style=\\\"color:#059669;font-weight:bold;margin-right:10px;\\\">✓</span><strong>Clean Play</strong> — Ensure your gear is clean; sharpie marks damage our screens.</div></div><div style=\\\"text-align:center;margin-top:40px;\\\"><a href=\\\"https://maps.google.com/?q=38A+Chopin+St+Vanderbijlpark\\\" style=\\\"display:inline-block;background-color:#1a472a;color:#ffffff;padding:18px 36px;border-radius:12px;text-decoration:none;font-weight:700;font-size:16px;box-shadow:0 4px 12px rgba(26,71,42,0.2);\\\">Get Directions</a></div></div><div style=\\\"background-color:#f9fafb;padding:40px;text-align:center;border-top:1px solid #f3f4f6;\\\"><div style=\\\"color:#1a472a;font-size:18px;font-weight:800;margin-bottom:12px;\\\">The Mulligan</div><div style=\\\"font-size:13px;color:#9ca3af;margin-bottom:24px;line-height:1.5;\\\">38A Chopin St, Vanderbijlpark S.W. 5<br>Gauteng, South Africa</div><div style=\\\"font-size:11px;color:#9ca3af;\\\">&copy; 2026 The Mulligan Golf Lounge. All rights reserved.</div></div></div>\"\n}"
            },
            "id": "4",
            "name": "Send Confirmation Email (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                800,
                180
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "tableId": "bookings",
                "matchColumns": "id",
                "columns": "email_sent",
                "updateData": {
                    "id": "={{ $node['Get Booking from Supabase'].json.id }}",
                    "email_sent": true
                }
            },
            "id": "5",
            "name": "Set email_sent = true",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1000,
                180
            ]
        },
        {
            "parameters": {
                "resume": "dateTime",
                "dateTime": "={{ new Date(new Date($node['Get Booking from Supabase'].json.slot_start).getTime() - 24 * 60 * 60 * 1000) }}"
            },
            "id": "6",
            "name": "Wait until 24h before",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1200,
                180
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"The Mulligan <reservations@themulligan.co.za>\",\n  \"to\": [\"{{ $node['Get Booking from Supabase'].json.guest_email }}\"],\n  \"subject\": \"Reminder: Your Golf Simulator Booking is Tomorrow\",\n  \"html\": \"<div style=\\\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 580px; margin: 0 auto; color: #1f2937; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e7eb;\\\"><div style=\\\"background: linear-gradient(135deg, #166534 0%, #22c55e 100%); padding: 28px; text-align: center;\\\"><h1 style=\\\"color: white; margin: 0; font-size: 26px;\\\">⛳ See You Tomorrow!</h1><p style=\\\"color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 15px;\\\">Your tee time is confirmed</p></div><div style=\\\"padding: 25px;\\\"><p style=\\\"font-size: 16px; margin: 0 0 15px;\\\">Hi <strong>{{ $node['Get Booking from Supabase'].json.guest_name }}</strong>,</p><p style=\\\"color: #6b7280; line-height: 1.6; margin: 0 0 20px;\\\">We're excited to have you at The Mulligan! Here's everything you need to know.</p><div style=\\\"background: linear-gradient(135deg, #f0fdf4 0%, #dcfce7 100%); border: 2px solid #22c55e; border-radius: 12px; padding: 20px; margin: 0 0 25px; text-align: center;\\\"><p style=\\\"margin: 0 0 8px; font-size: 22px; font-weight: bold; color: #166534;\\\">📅 {{ $node['Get Booking from Supabase'].json.booking_date }}</p><p style=\\\"margin: 0 0 8px; font-size: 20px; color: #166534;\\\">🕐 {{ $node['Get Booking from Supabase'].json.start_time }}</p><p style=\\\"margin: 0; font-size: 15px; color: #6b7280;\\\">📍 Bay {{ $node['Get Booking from Supabase'].json.simulator_id }}</p></div><div style=\\\"background: #fffbeb; border: 1px solid #f59e0b; border-radius: 12px; padding: 20px; margin: 0 0 20px;\\\"><p style=\\\"margin: 0 0 15px; font-weight: bold; color: #b45309; font-size: 15px; text-align: center;\\\">📋 THE MULLIGAN'S BASICS</p><ul style=\\\"margin: 0; padding-left: 20px; color: #4b5563; font-size: 14px; line-height: 1.9;\\\"><li style=\\\"margin-bottom: 8px;\\\"><strong>Arrive 15 mins early</strong> for smooth check-in</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Bring your own clubs</strong> or rent with us</li><li style=\\\"margin-bottom: 8px;\\\"><strong>No spiked shoes, high heels</strong> – flat soles only</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Golf glove is compulsory</strong> (available for purchase)</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Clean balls & undamaged clubs only</strong> – protects our screens</li><li style=\\\"margin-bottom: 8px;\\\"><strong>🚫 No Sharpie-marked balls</strong> – they permanently damage screens!</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Under 12s</strong> must be accompanied by an adult</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Keep food & drinks off the turf</strong></li><li style=\\\"margin-bottom: 8px;\\\"><strong>No smoking/vaping indoors</strong></li></ul><p style=\\\"margin: 15px 0 0; padding-top: 12px; border-top: 1px solid #fcd34d; font-size: 12px; color: #92400e; text-align: center;\\\">⚠️ Staff reserves the right to stop play if rules aren't followed</p></div><div style=\\\"text-align: center; margin: 0 0 20px;\\\"><a href=\\\"https://maps.google.com/?q=38A+Chopin+St+Vanderbijlpark\\\" style=\\\"display: inline-block; background: #166534; color: white; padding: 12px 28px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 14px;\\\">📍 Get Directions</a></div><p style=\\\"color: #6b7280; margin: 0; text-align: center;\\\">See you on the tee! 🏌️</p></div><div style=\\\"text-align: center; padding: 18px; background: #166534; color: rgba(255,255,255,0.9); font-size: 12px;\\\">38A Chopin St, Vanderbijlpark S.W. 5 | The Simulator Never Judges! ⛳</div></div>\"\n}"
            },
            "id": "7",
            "name": "Send 24h Reminder (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1400,
                180
            ]
        },
        {
            "parameters": {
                "resume": "dateTime",
                "dateTime": "={{ new Date(new Date($node['Get Booking from Supabase'].json.slot_start).getTime() - 1 * 60 * 60 * 1000) }}"
            },
            "id": "8",
            "name": "Wait until 1h before",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1600,
                180
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"The Mulligan <reservations@themulligan.co.za>\",\n  \"to\": [\"{{ $node['Get Booking from Supabase'].json.guest_email }}\"],\n  \"subject\": \"Reminder: Your Golf Simulator Booking is in 1 Hour\",\n  \"html\": \"<div style=\\\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 580px; margin: 0 auto; color: #1f2937; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e5e7eb;\\\"><div style=\\\"background: linear-gradient(135deg, #166534 0%, #22c55e 100%); padding: 28px; text-align: center;\\\"><h1 style=\\\"color: white; margin: 0; font-size: 26px;\\\">⛳ See You Soon!</h1><p style=\\\"color: rgba(255,255,255,0.9); margin: 8px 0 0; font-size: 15px;\\\">Your tee time is in exactly 1 hour</p></div><div style=\\\"padding: 25px;\\\"><p style=\\\"font-size: 16px; margin: 0 0 15px;\\\">Hi <strong>{{ $node['Get Booking from Supabase'].json.guest_name }}</strong>,</p><p style=\\\"color: #6b7280; line-height: 1.6; margin: 0 0 20px;\\\">We're getting Bay {{ $node['Get Booking from Supabase'].json.simulator_id }} ready for you. Please arrive 10 mins early for check-in.</p><div style=\\\"background: #fffbeb; border: 1px solid #f59e0b; border-radius: 12px; padding: 20px; margin: 0 0 20px;\\\"><p style=\\\"margin: 0 0 15px; font-weight: bold; color: #b45309; font-size: 15px; text-align: center;\\\">⚠️ CRITICAL REMINDER</p><ul style=\\\"margin: 0; padding-left: 20px; color: #4b5563; font-size: 14px; line-height: 1.9;\\\"><li style=\\\"margin-bottom: 8px;\\\"><strong>No spiked shoes, high heels</strong> – flat soles only</li><li style=\\\"margin-bottom: 8px;\\\"><strong>Clean balls & undamaged clubs only</strong></li><li style=\\\"margin-bottom: 8px;\\\"><strong>🚫 No Sharpie-marked balls</strong> – they permanently damage screens!</li></ul></div><div style=\\\"text-align: center; margin: 0 0 20px;\\\"><a href=\\\"https://maps.google.com/?q=38A+Chopin+St+Vanderbijlpark\\\" style=\\\"display: inline-block; background: #166534; color: white; padding: 12px 28px; border-radius: 8px; text-decoration: none; font-weight: bold; font-size: 14px;\\\">📍 Get Directions</a></div></div></div>\"\n}"
            },
            "id": "9",
            "name": "Send 1h Reminder (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1800,
                180
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Booking from Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Booking from Supabase": {
            "main": [
                [
                    {
                        "node": "If email_sent = false",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If email_sent = false": {
            "main": [
                [
                    {
                        "node": "Send Alert to Store (HTTP)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send Confirmation Email (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Confirmation Email (HTTP)": {
            "main": [
                [
                    {
                        "node": "Set email_sent = true",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set email_sent = true": {
            "main": [
                [
                    {
                        "node": "Wait until 24h before",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait until 24h before": {
            "main": [
                [
                    {
                        "node": "Send 24h Reminder (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send 24h Reminder (HTTP)": {
            "main": [
                [
                    {
                        "node": "Wait until 1h before",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait until 1h before": {
            "main": [
                [
                    {
                        "node": "Send 1h Reminder (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}